:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: #242424;
}

h1,
h3 {
  font-size: 2.2em;
  color: #e1f5fe;
  text-align: center;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  width: 100%;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: #646cff;
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #e1e1e1;
    color: #000;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

aside {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.transcription {
  border: 1px solid #ddd;
  padding: 8px 15px;
  width: 25rem;
  margin-block: 18px;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.chat-container {
  max-height: 250px;
  overflow-y: auto;
  border-radius: 8px;
}

.chat-container::-webkit-scrollbar {
  width: 4px;
}

.chat-container::-webkit-scrollbar-thumb {
  background: #e1f5fe;
  border-radius: 10px;
  border: none;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  width: 20rem;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.5;
}

.user {
  background-color: #e1f5fe;
  align-self: flex-end;
  margin-left: auto;
}

.ai {
  background-color: #f1f1f1;
  align-self: flex-start;
  margin-right: auto;
}

.loading {
  font-style: italic;
  color: #555;
  margin-top: 10px;
}

.voice-settings {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.voice-settings label {
  color: #fff;
}

.voice-settings input[type="range"] {
  width: 100%;
  cursor: pointer;
}

.voice-settings input[type="range"]:hover {
  background-color: #646cff;
  border-radius: 5px;
}
.empty-message {
  font-style: italic;
  font-size: 1.1em;
  margin-top: 15px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  border: 1px dashed #ccc;
}

section {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

section h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

section input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

section button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

section button:disabled {
  background-color: #ccc;
}

section .message {
  margin-top: 10px;
  text-align: center;
  color: #ff0000;
}

.conversations-section {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.message-container {
  margin-bottom: 15px;
}

.timestamp {
  font-size: 0.8em;
  color: #888;
  margin-top: 5px;
  text-align: right;
}

.user {
  background-color: #e1f5fe;
  align-self: flex-end;
  margin-left: auto;
}

.ai {
  background-color: #f1f1f1;
  align-self: flex-start;
  margin-right: auto;
}

strong {
  margin-right: 20px;
}

@media (max-width: 850px) {
  aside {
    width: -webkit-fill-available;
  }
  .container {
    flex-direction: column;
    width: auto;
  }
  .transcription {
    width: auto;
  }
  .message {
    width: auto;
  }
  .wrapper {
    padding-inline: 20px;
  }

  .conversations-section {
    padding: 10px;
  }
}
